@import './variables.scss';

.hero {
    text-align: center;
    position: relative;
    min-height: 350px;
    .heroImg {
        min-height: 350px;
    }

 }

.container {
    @extend %container;
}

.profile {
    padding: 10rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column-gap: 5rem;
    grid-auto-flow: dense;
    @media(max-width: $break-s){
        padding: 5rem 0;
        grid-template-columns: 1fr;
        grid-row-gap: 3rem;
    }
    p {
        margin-bottom: 0;
    }
}

.ctaButton {
    padding: 0 0 10rem;
    text-align: center;
    a {
        display: inline-block;
        margin: 10rem 0;
        padding: 1.3rem 6rem;
        background-color: $primary-color;
        border-radius: 25px;
        color: #fff;
        &:hover {
            opacity: 0.8;
        }
    }

    .back {
        position: fixed;

    }
}
